    <% days = (Date.parse("Wed, 28 Jun 2017 00:00:00 -0300")..Date.today).map{ |date| date.strftime("%d") } %>
    <% with_symptoms = days.map{ |day| @total_symptoms_by_day[day.to_i] } %>
    <% without_symptoms = days.map{ |day| @total_no_symptoms_by_day[day.to_i] } %>

    <center>
      <div style="width:65%;">
          <canvas id="surveys"></canvas>
          <br/><br/><br/>
          <canvas id="users"></canvas>
          <br/><br/><br/>
          <div id="canvas-holder" style="width:40%">
              <canvas id="syndromes"></canvas>
          </div>
      </div>
    </center>
    <script>
        /* --------------- Syndromes ------------ */
        var config_syndromes = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [<%= @total_syndromes.values.join(', ') %>],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.yellow,
                        window.chartColors.green,
                    ],
                    label: 'Síndromes'
                }],
                labels: [
                    "Exantematica",
                    "Diarreica",
                    "Respiratoria",
                ]
            },
            options: {
                responsive: true
            }
        };

        var ctx_syndromes = document.getElementById("syndromes").getContext("2d");
        window.myPie = new Chart(ctx_syndromes, config_syndromes);

        /* --------------- Users ------------ */

        var config_users = {
            type: 'line',
            data: {
                labels: [<%= @total_users_by_day.keys.join(', ') %>],
                datasets: [
                {
                    label: "Usuarios Registrados",
                    backgroundColor: window.chartColors.yellow,
                    borderColor: window.chartColors.yellow,
                    data: [ <%= @total_users_by_day.values.join(', ') %> ],
                    fill: false,
                },
                ]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Usuarios (Total: <%= @total_users %>)'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Día'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Uusuarios Registrados'
                        }
                    }]
                }
            }
        };

        var ctx_users = document.getElementById("users").getContext("2d");
        window.myLine = new Chart(ctx_users, config_users);

        /* --------------- Surveys ------------ */

        var config_surveys = {
            type: 'line',
            data: {
                labels: [<%= days.join(', ') %>],
                datasets: [
                {
                    label: "Sintomático",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [ <%= with_symptoms.join(', ') %> ],
                    fill: false,
                },
                {
                    label: "No Es Sintomático",
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: [ <%= without_symptoms.join(', ') %> ],
                    fill: false,
                }

                ]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Informe (Total: <%= @total_symptoms %>)'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Día'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Informe'
                        }
                    }]
                }
            }
        };

        var ctx_surveys = document.getElementById("surveys").getContext("2d");
        window.myLine = new Chart(ctx_surveys, config_surveys);

    </script>
