<meta http-equiv="refresh" content="120">

<table class="table" id="surveys">
 <thead>
  <tr>
    <th>Fecha de registro</th>
    <th>Hora de registro</th>
    <th>Departamento de registro</th>
    <th>Ciudad de registro</th>
    <th>Dirección</th>
    <th>ID usuario</th>

    <!--About user-->
    <th>ID de registro</th>
    <th>Parentesco</th>
    <th>Sexo</th>
    <th>Edad</th>
    <th>Grupo etário</th>
    <th>Pais de residencia</th>
    <th>Departamento de residencia</th>
    <th>Ciudad de residencia</th>
    <th>Raza</th>

    <!--About survey-->
    <th>Estado de salud</th>
    <th>Días con síntomas</th>
    <% @symptoms.each do |key, symptom| %>
      <th><%= symptom %></th>
    <% end %>
    <th>Contacto con enfermo</th>
    <th>Búsqueda IPS</th>
    <th>Antecedente de viaje</th>
    <th>País donde estuvo</th>
    <th>Departamento donde estuvo</th>
    <th>Ciudad donde estuvo</th>

  </tr>
 </thead>
 <tbody>
   <% @surveys.each do |survey| %>
     <% alert = "table-success" %>
     <% alert = "table-danger" if survey["no_symptom"] == "N" %>
     <tr class="<%= alert %>">
        <!-- About register -->
        <td><%= DateTime.parse(survey["createdAt"]).strftime("%d/%m/%Y") %></td> <!--Fecha de Registro -->
        <th><%= DateTime.parse(survey["createdAt"]).strftime("%H:%M") %></td> <!-- Hora de registro -->
        <td><%= survey["state"] %></td> <!-- Departamento de registro -->
        <td><%= survey["city"] %></td> <!-- Ciudad de registro -->
        <td><%= survey["formattedAddress"] %><!-- Dirección -->
        <td><%= survey["user"] %></td> <!-- Departamento de registro -->

        <!--About survey user -->
        <% survey_user_id = survey["household"] || survey["user"] %>
        <% survey_user = @users[survey_user_id] %>
        <% if survey_user %>
          <td><%= survey_user_id %></td> <!-- ID de registro --> 
          <td><%= ((!survey_user["relationship"]) or survey_user["relationship"] == "") ? "N/A" : survey_user["relationship"] %></td><!-- Parentesco -->
          <td><%= survey_user["gender"] %></td><!-- Sexo -->
          <td><%= survey_user["age"] %></td><!-- Age -->
          <td><%= survey_user["ageGroup"] %></td><!-- Age Group -->
          <td><%= survey_user["country"] %></td><!-- País de residencia -->
          <td><%= survey_user["state"] %></td><!-- Departamento de residencia -->
          <td><%= survey_user["city"] %></td><!-- Ciudad de residencia -->
          <td><%= survey_user["race"] %></td><!-- Raza -->
        <% else %>
          <td>INVALIDO</td>
          <td>INVALIDO</td>
          <td>INVALIDO</td>
          <td>INVALIDO</td>
          <td>INVALIDO</td>
          <td>INVALIDO</td>
        <% end %>

        <!-- About survey -->
        <td><%= survey["no_symptom"] == "N" ? "Bien" : "Mal" %></td>
        <td><%= survey["no_symptom"] == "Y" and  survey["startTime"] != "" ? "N/A" : ((DateTime.parse(survey["createdAt"]).to_time -
                 DateTime.parse(survey["startDate"]).to_time) /
                 86400).to_i %></td><!-- Días con síntomas -->
        <% @symptoms.each do |key, symptom| %>
         <td><%= survey[key].blank? ? 'No' : 'Si' %></td>
        <% end %>
        <td><%= survey["hadContagiousContact"] ? "Si" : "No" %></td><!-- Contacto con enfermo -->
        <td><%= survey["hadHealthCare"] ? "Si" : "No" %></td><!-- Búsqueda IPS -->
        <td><%= survey["hadTravelAbroad"] ? "Si" : "No" %></td><!-- Antecedente de viaje -->
        <td><%= survey["originCountry"] == "" ? survey["originCountry"] : "N/A" %></td><!-- Pais donde estuvo -->
        <td><%= survey["originState"] == "" ? survey["originState"] : "N/A" %></td><!-- Departamento donde estuvo -->
        <td><%= survey["originCity"] == "" ? survey["originCity"] : "N/A" %></td><!-- Ciudad donde estuvo -->
     </tr>
   <% end %>
 </tbody>
</table>

<script>
$(document).ready(function(){
    $('#surveys').DataTable({
      "lengthMenu": [[25, 50, 75, 100, -1], [25, 50, 75, 100, 'All']],
      "order": [],
      "stateSave": true,
      "dom": 'l&nbsp;Bfrtip',
      "buttons": [ { extend: 'copy', className: 'btn btn-primary' },
                 { extend: 'csv', className: 'btn btn-primary' },
                 { extend: 'excel', className: 'btn btn-primary' },
                 { extend: 'pdf', className: 'btn btn-primary' },
                 { extend: 'print', className: 'btn btn-primary' },]
    });
});
</script>
