    <br/>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <a href="https://gitlab.com/centeias/gds-dashboard" target="_blank">Guardianes de la Salud - <i>Dashboard</i> (beta)</a> - GPLv3
        </span>
      </div>
    </footer>
